# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
ADMIN_IDS=

# Channel untuk free invite (tanpa @)
CHANNEL_ID=
CHANNEL_LINK=

# Harga (dalam Rupiah)
PRICE_1WEEK=2000
PRICE_1MONTH=2000

# Max invites per ChatGPT account
MAX_INVITES_PER_ACCOUNT=4

# Payment Gateway: pakasir | midtrans | xendit (tambah nanti)
PAYMENT_GATEWAY=pakasir

# PaKasir Config
PAKASIR_API_KEY=
PAKASIR_SLUG=

FREE_INVITE_ENABLED=false
